body{
    background-color: black;
    font-family:  Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
  
    
}

section{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:4px;
    color:white;
    border-bottom: 8px solid #222;
    padding:70px 35px;
    align-items: center;
}
section div.texts h1{
    font-size:3.125rem;
    margin-bottom: 8px;
}
section div.texts p{
    font-size:1.625rem;
    padding-right: 50px;

}
.media{
    position :relative
}
.media.s1 img{
    width:600px;
    position: relative;
    z-index: 5;
   

}
.media.s1 video{
    width:500px;
    position:absolute;
    top:95px;
    left:81px;
   
    max-height: 54%;
    max-width: 73%;
}
section:nth-child(even) div.texts{
    order:2;
}

.media.s2 img{
   width: 400px;
}
.hero-vid{
    width:387px;
    position:absolute;
    top:50px;
    z-index: 2; 
    left:120px;

}
.media.s2{

    position: relative;
    display: inline-grid;
    grid-template-columns: 40% 50%;
    text-align: left;
    align-items: center;
    padding: 25px 45px 50px;
}

.media.s3 img{
    position: relative;
    z-index: 5;
}

.stranger{
    
    width: 10px;
    padding-left: 100px;
}
